<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>

    <!--css stylesheet-->
    <link rel="stylesheet" type="text/css" href="css/styles3.css" />

    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Stylesheets -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="public/css/styles3.css" />

    <!-- Font Awesome -->
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"
    ></script>

    <!-- Bootstrap Scripts -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="colored-section" id="title">
      <div class="container-fluid">
        <!-- NAV BAR -->

        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="">Theeventistry</a>

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo02"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#footer-section">Contact us</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="/signin">Sign up</a>
              </li> -->
            </ul>
          </div>
        </nav>
      </div>
    </section>

    <!-- FORM-->

    <div class="center">
      <h1>Login</h1>
      <form action="/login" method="post">
        <div class="txt_field">
          <input type="username" name="uname" required />
          <span></span>
          <label>Username</label>
        </div>

        <div class="txt_field">
          <input type="password" name="upassOne" required />
          <span></span>
          <label>Password</label>
        </div>
        <input type="submit" value="Login" />
        <div class="signup_link">
          Not a member? <a href="/signin">Signup</a>
          <p style="color: red"><%=wrongInput%></p>
        </div>
      </form>
    </div>
  </body>
</html>
