<style>
  body {
    background-color: #f2f2f2;
    font-family: "poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
<h1><%=wish%></h1>
<h4>A message and an email will be sent to you two days before the event.</h4>
